.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  margin-top: 30px;
  margin-left: 50px;
  grid-gap: 20px;
}

.detail-container {
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 10px 10px grey;
  border-radius: 5px;
  padding: 30px;
}

.detail-container img {
  width: 50px;
}
