* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f1f0f0;
  height: 100vh;
}

.contact {
  display: flex;
  width: 70%;
  justify-content: center;
  background: #fff;
  margin: auto;
  margin-top: 150px;
  height: auto;
}

.contact-details {
  display: flex;
  width: 30%;
  flex-direction: column;
  background: #000;
  color: #fff;
  padding: 50px;
}

.contact-details h3 {
  font-size: 1.5rem;
  font-weight: 400;
  transform: scaleY(1.2);
}

.contact-details > p {
  margin-top: 18px;
  font-size: 1.2rem;
  font-weight: 300;
  transform: scaleY(1.2);
}

.contact-details span {
  display: flex;
  margin-top: 50px;
  align-items: center;
  height: auto;
}

.contact-details span fa-icon {
  display: flex;
  border: 1px solid rgb(219, 215, 215);
  border-radius: 50px;
  padding: 20px;
}

.contact-details span p {
  margin-left: 20px;
  transform: scaleY(1.2);
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 50px;
}

.contact h1 {
  font-size: 1.2rem;
  font-weight: 400;
  transform: scaleY(1.2);
}

.contact-form form {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-top: 20px;
}

.top-inputs {
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px 0px;
  margin-right: 20px;
}

.input label,
.text label {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}

.input input,
.text input,
.text textarea {
  border: none;
  margin-top: 20px;
  border-bottom: 1px solid #525151;
  padding: 10px 0px;
  outline: none;
}

.text {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin-top: 50px;
  padding: 20px;
  outline: none;
  cursor: pointer;
  border: none;
  background: rgb(42, 42, 42);
  border-radius: 3px;
  color: #fff;
}

.submit:hover {
  background: #000;
  font-weight: 600;
  transition: 0.3s;
}

.confirmation {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.confirmation p {
  font-weight: 400;
  display: flex;
  font-size: 0.8rem;
  margin-top: 5px;
}

.confirmation button {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
  outline: none;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
