* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f1f0f0;
  height: 100vh;
}

.contact {
  display: flex;
  width: 70%;
  justify-content: center;
  background: #fff;
  margin: auto;
  margin-top: 150px;
  height: auto;
}

.contact-details {
  display: flex;
  width: 30%;
  flex-direction: column;
  background: #000;
  color: #fff;
  padding: 50px;
}

.contact-details h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.contact-details > p {
  margin-top: 18px;
  font-size: 1.2rem;
  font-weight: 300;
}

.contact-details span {
  display: flex;
  margin-top: 50px;
  align-items: center;
  height: auto;
}

.contact-details span fa-icon {
  display: flex;
  border: 1px solid rgb(219, 215, 215);
  border-radius: 50px;
  padding: 20px;
}

.contact-details span p {
  margin-left: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 50px;
}

.contact h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-top: 20px;
}

.top-inputs {
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px 0px;
  margin-right: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
